@page "/pull-up"
@layout H5Layout
@inject IJSRuntime js
@using BcdLib.Components;

<PullUp OnRefreshing="OnRefresh">

    <div style="user-select: none; display:flex; flex-direction:column; align-items: flex-end">
        pull up Refresh times @count

        @for (int i = 0; i < count; i++)
        {
            <h1 @key="i">item @i</h1>
        }
    </div>

</PullUp>


@code {
    int count = 20;
    public async Task<bool> OnRefresh()
    {
        if (count < 60)
        {
            await Task.Delay(1000);
            count += 20;
            return true;
        }
        return false;
    }
}
