@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="z-index: 1;">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content p-0">
            @Body
        </article>
    </main>
</div>
