﻿<div class="pull-container">
    <div class="pull-wrapper">
        @ChildContent

        <div class="pull-tip  pull-up-tip" style="@GetTipStyle()">
            @GetTipHtml()
        </div>
    </div>
</div>
